* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

ol, ul {
    list-style-type: none
}


p {
    font-family: 'Antonio', Verdana, Geneva, Tahoma, sans-serif;
}  

h5 {
    font-family: 'Antonio', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: rgb(92, 12, 12);
}

strong {
    color:  rgb(184, 2, 2)
}

.formularioDeContacto {
    background-color:black;
    color:whitesmoke;
}


nav {
    background-color: black;
    color: white;
    font-family: 'Antonio', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 120%;
        letter-spacing: 0.1rem;    
        font-weight: 200;
        text-align: right;
    height: 5rem;
    padding-bottom: 0rem;
    padding-top: 3rem;
    padding-right: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.liNav {
    margin-left: 1rem;
}

.linkNav{
    color: white;
}

li {
    display: inline-block;
    position: relative;
}

ul ul {
    display: none;
    position: absolute;
    width: 360%;
    background: rgb(41, 41, 41);

}

ul ul li {
    display: block;
    padding: 0.7em;
    border-bottom-style: solid;
    border-color: rgb(143, 143, 143);
    font-size: 75%;
    text-align: left;
}

ul li:hover ul {
    display: block;
}

/* Headers */

.headerIndex {
    color:black;
    font-family: 'Anton', verdana, sans-serif;
    font-size: 450%;
    letter-spacing: 0.12rem;
    text-align: center;
    margin-top: 10vh;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
    }

    .headerTheremin {
        color: white;
        font-family: 'Anton', verdana, sans-serif;
        background-image: url("https://mrjaen.files.wordpress.com/2019/03/img_0690-1.jpg?w=460");
        font-size: 450%;
        letter-spacing: 0.12rem;
        text-align: center;
        margin-top: 10vh;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2.5%;
        }   
    
    .headerMolotov {
            color: white;
            font-family: 'Anton', verdana, sans-serif;
            background-image: url("https://i.pinimg.com/originals/87/77/ac/8777acddb0cab660cc3e13f0888250f6.jpg");
            font-size: 450%;
            letter-spacing: 0.12rem;
            text-align: center;
            margin-top: 10vh;
            padding-top: 5%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 2.5%;
            }   
    
    .headerWarrior {
                color: white;
                font-family: 'Anton', verdana, sans-serif;
                background-image: url("https://www.ellitoral.com/diarios/2009/04/01/deportes/DEPO-24-web-images/1_opt.jpeg");
                font-size: 450%;
                letter-spacing: 0.12rem;
                text-align: center;
                margin-top: 10vh;
                padding-top: 5%;
                padding-left: 5%;
                padding-right: 5%;
                padding-bottom: 2.5%;
                }           


/* INDEX STYLE */

aside {
    float: right;
    padding-right: 5vh;
}

.pedales {
    display: flex;
    flex-direction: row;
    margin: 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

    .pedales div {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-right: 4em;
    padding: 0.5em;
    border-radius: 8%;
    background-color: rgb(248, 246, 240);  
    align-content: center;
    align-items: center;
}

        .pedales div:hover {
        filter: invert(100%);
}

    .pedales p {
    text-decoration-line: overline;
}

    .pedales img {
    border-radius: 8%;
    border-style: solid;
    border-color: black;
    max-height: 25rem;
    justify-items: center;
}

footer {
    margin-top: 1%;
    padding-top: 0.2rem;
    display: grid;
    grid-template-areas: 
    "enlacesFooter disclaimer disclaimer";  
    grid-template-columns: 25% auto 25%;
    grid-row-gap: 3rem;
    color: rgb(7, 36, 36);
}

    .enlacesFooter {
    grid-area: enlacesFooter;
    background-color: transparent;
}

        .enlacesFooter a {
    font-family: 'Antonio', Verdana, Geneva, Tahoma, sans-serif;
    color: darkgrey;
}

    .disclaimer {
    grid-area: disclaimer;
    text-align: right;
    background-color: transparent;
}

/* THEREMIN STYLE */

.productoCuerpo {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
    }
    
    .productoCuerpo strong {
        color: rgb(92, 12, 12);
        text-decoration-style: solid;
        text-decoration-line: overline;
    }

    .productoHistoria {
        padding-left: 10%;
        padding-right: 10%;
        flex: 1 1 0;
        width: 0;
        font-size: 141%;
        text-align: center;
    }

    .productoHistoria p {
        margin-bottom: 1em;
    }

    .productoImagen {
        display: flex;
        filter: grayscale(100%);  
        flex: 1 1 0;
        width: 0;
        justify-content: center;
    }
        
        .productoImagen img {
            border-radius: 12%;
            max-height: 540px;
            max-width: 540px;
        }

    .productoImagen:hover {
            filter:grayscale(50%);
    }
    
    .productoDescripcion {
        padding-left: 10%;
        padding-right: 10%;
        flex: 1 1 0;
        width: 0;
        font-size: 170%;
        text-align: center;
    }
    
    .videito {
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }

    .videito div img {
        max-width: 560px; 
        max-height: 315px;
    }
    
    .perillas {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;  
        align-content: space-around;
        font-family: 'Antonio', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 200%;
            letter-spacing: 0.1rem;    
            font-weight: 400;
        color:rgb(219, 123, 6);
        background-image: url("https://i.pinimg.com/originals/fd/81/a6/fd81a6c9449b79b24a34e167f5728d43.jpg");
        padding-bottom: 1rem;
    }

        
        .perillas strong {
        color:darkorange;
        background-color: rgb(255, 255, 255);
        border-radius: 9px;
        padding-bottom: 3px;
    }
        
        .perillas div {
            margin-top: 1em;
        }
    
        .perillas div p {
            display: none;
            opacity: 10%;
            transition: opacity 2s;
            margin-right: 1rem;
            text-align: justify;
            background-color: rgb(255, 255, 255);
            border-radius: 9px;
            padding-bottom: 3px;
        }

        .perillas div:hover p {
            display: inline;
            opacity: 100%;
        }
    
