footer {
    margin-top: 1%;
    padding-top: 0.2rem;
    display: flex;
    justify-content: space-between;
    /*grid-template-areas: 
    "enlacesFooter disclaimer disclaimer";  
    grid-template-columns: 25% auto 25%;
    grid-row-gap: 3rem;*/
    color: rgb(7, 36, 36);
    
}

.footer__enlaces {
    /* grid-area: enlacesFooter;*/
    background-color: transparent;
}

.footer__enlaces a {
    font-family: 'Antonio', Verdana, Geneva, Tahoma, sans-serif;
    color: darkgrey;
}

.footer__disclaimer {
    /*grid-area: disclaimer;*/
    text-align: right;
    background-color: transparent;
}

@media (max-width: 600px) {

    .footer__disclaimer{
        display: none;
    }
}